@font-face {
    font-family: 'PK Nakhon Pathom';
    src: url('./fonts/PK\ Nakhon\ Pathom\ Demo.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "PK Nakhon Pathom", sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "PK Nakhon Pathom", sans-serif;
}

.page {
    display: none;
    animation: fadeIn 0.5s;
}

.page.active {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#globalBackBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none; 
    
    font-family: "PK Nakhon Pathom", sans-serif !important;
}

#globalBackBtn:hover {
    background-color: #555;
}